css * {
    font-family: "Inter", sans-serif;
}

:root {
    --bg-red-1: #fd0303;
    --margin-top: 100px;
}

.aqui-voc-tem-total-controle-financeiro-de-seu-restaurante {
    color: #4a4a4a;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 26px;
    line-height: 170.5%;
    font-weight: 500;
    text-align: left;
}

.container-grafico-tabela {
    margin-bottom: 130px;
}

a.social-icons {
    color: var(--bg-red-1);
}

.logo-text {
    font-size: 1.8rem;
    color: var(--bg-red-1);
    font-weight: 800;
}

.logo-icon {
    color: var(--bg-red-1);
}

.my-mt {
    margin-top: var(--margin-top);
}

.navbar-nav .nav-link {
    cursor:pointer; 
    text-decoration: none; 
    color: black; 
}

.navbar-nav .nav-link:hover {
    color: var(--bg-red-1);
}

.navbar-brand.logo-text {
    font-size: 2rem;
    color: var(--bg-red-1);
}

.nav-item a {
    font-weight: 700;
    font-size: 19px;
}

.my-tittle {
    color: var(--bg-red-1);
    font-weight: 700;
}

.home {
    min-height: 60dvh;
}

.icon {
    font-size: 60px;
    color: var(--bg-red-1);
    margin: 24px 0;
    transition: .5s;
}

.card {
    transition: .5s;
}

.card:hover {
    background-color: var(--bg-red-1);
}

.card:hover .icon {
    transform: scale(1.5);
}

.icon-social,
.icon-contato {
    font-size: 2rem;
    color: var(--bg-red-1);
    transition: .5s;
}

.icon-social:hover {
    color: var(--bg-red-1);
}

.btn-contato {
    background-color: var(--bg-red-1);
    /* Cor vermelha do iFood */
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    /* Ajuste o valor para arredondar mais ou menos */
    border: none;
    cursor: pointer;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-contato:hover {
    background-color: var(--bg-red-1);
    /* Cor vermelha mais escura */
}

.btn-contato i {
    margin-right: 10px;
    font-size: 20px;
    color: white;
}

.bem-vindo {
    color: #000000;
    text-align: left;
    font-family: "Inter-ExtraBold", sans-serif;
    line-height: 145.52%;
    font-weight: 800;
    font-size: 62px;
    width: 640px;
}

.bem-vindo2 {
    color: #000000;
    font-family: "Inter-ExtraBold", sans-serif;
    font-size: 50px;
    line-height: 145.52%;
    font-weight: 800;
}

.aqui-voc-tem-total-controle-financeiro-de-seu-restaurante {
    color: #4a4a4a;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 26px;
    line-height: 170.5%;
    font-weight: 500;
    width: 622px;
}

.fattoush-salad2 {
    width: 276px;
    height: 276px;
    left: 239px;
    top: 2246px;
    object-fit: cover;
}

.egg-salad {
    width: 276px;
    height: 278px;
    left: 1228px;
    right: 1000px;
    top: 1480px;
    object-fit: cover;
}

.filtro-categoria {
    color: #000000;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 50px;
}

.container-filtro {
    grid-column: 2;
}

.filter-container {
    display: flex;
    flex-direction: column; /* Arrumar os elementos verticalmente */
    align-items: center; /* Centralizar horizontalmente */
    gap: 20px; /* Espaçamento entre o título e a tabela */
}

textarea {
    resize: none;
    height: 130px;
}

@media(max-width:1050px) {
    #home {
        text-align: center;
    }

    div a img {
        width: 25%;
    }
}

/* Estilos gerais da tabela */
.table-container {
    text-align: center;
    padding: 20px;
    width: 400px; /* Ajustar a largura da tabela para ocupar o espaço disponível */
    max-width: 400px; /* Limite máximo de largura da tabela */
    align-items: center;
}

.table-style-periodo {
    width: 100%; /* Ajustar a largura da tabela para ocupar o espaço disponível */
    border-collapse: collapse;
    margin: 0 auto; /* Centralizar a tabela horizontalmente */
    max-width: 400px;
    font-family: "Inter", sans-serif;
    border: 2px solid var(--bg-red-1);
    border-radius: 1px; 
    overflow: hidden; 
    text-align: center;
    border-color: #fd0303;
    border-radius: 9px;
    border-width: 1px;
    padding: 8px;
    width: 400px;
    height: 8%;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    align-items: center;
}

.table-style-rent {
    width: 100%; /* Ajustar a largura da tabela para ocupar o espaço disponível */
    border-collapse: collapse;
    margin: 0 auto; /* Centralizar a tabela horizontalmente */
    max-width: 400px;
    font-family: "Inter", sans-serif;
    border: 2px solid var(--bg-red-1);
    border-radius: 1px; 
    overflow: hidden; 
    text-align: center;
    border-color: #fd0303;
    border-radius: 9px;
    border-width: 1px;
    padding: 8px;
    width: 400px;
    height: 8%;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    align-items: center;
}

.table-style {
    width: 100%; /* Ajustar a largura da tabela para ocupar o espaço disponível */
    border-collapse: collapse;
    margin: 0 auto; /* Centralizar a tabela horizontalmente */
    max-width: 400px;
    font-family: "Inter", sans-serif;
    border: 2px solid var(--bg-red-1);
    border-radius: 1px; 
    overflow: hidden; 
    text-align: center;
    border-color: #fd0303;
    border-radius: 9px;
    border-width: 1px;
    padding: 8px;
    width: 400px;
    height: 8%;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    align-items: center;
    margin-left: 440px;
}

.content {
    display: flex; /* Organiza os elementos horizontalmente */
    justify-content: center; /* Centraliza a tabela horizontalmente */
    align-items: center; /* Alinha verticalmente ao centro */
    width: 100%; /* Ocupa 100% da largura da seção */
    gap: 40px; /* Espaçamento entre a imagem, tabela e a outra imagem */
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
    max-width: 400px;
    font-family: "Inter", sans-serif;
    border: 2px solid var(--bg-red-1);
    border-radius: 1px; 
    overflow: hidden; 
    text-align: center;
    align-items: center;
}

/* Cabeçalho da tabela */
thead {
    background-color: white;
    font-weight: bold;
}

/* Células do cabeçalho */
th {
    color: #828282;
    text-align: center;
    font-family: "Inter-Black", sans-serif;
    font-size: 18px;
    font-weight: 900;
}

/* Estilo das células do corpo da tabela */
tbody td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid var(--bg-red-1); 
    border-right: 2px solid var(--bg-red-1); 
}

/* Remove a borda da última célula em cada linha */
tbody td:last-child {
    border-right: none;
}

/* Negrito na primeira coluna */
tbody td:first-child {
    font-weight: bold;
}

/* Estilo ao passar o mouse */
tbody tr:hover {
    background-color: #f9f9f9; /* Alteração de cor ao passar o mouse */
}

/* Imagens das tabelas */
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-left {
    grid-column: 1;
    position: absolute;
    left: 209px;
}

.titulo-style {
    text-align: center;
}

.table-style {
    grid-column: 2; /* Segunda coluna */
}

.image-right {
    grid-column: 3; /* Terceira coluna */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.combo-title {
    font-weight: bold;
    text-align: center;
}


/* Footer */
footer {
    background-color: white;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-title {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.links-style {
    color: #555555;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.copyright {
    color: #555555;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
    text-align: left;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
    min-width: 200px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section.logo img {
    width: 80px;
    margin-bottom: 10px;
}

.footer-bottom {
    max-width: 1200px;
    margin: 20px auto 0;
    margin-top: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

/* Estilos para os ícones sociais no footer */
.footer-bottom .social-icon {
    font-size: 24px; 
    color: var(--bg-red-1); 
    margin-right: 15px; 
    transition: color 0.3s ease; 
}

.footer-bottom .social-icon:hover {
    color: #333; 
}


.social-icons {
    display: flex;
    justify-content: flex-start;
}

.social-icons a {
    margin: 0 10px;
    color: var(--bg-red-1);
}

.footer-bottom p {
    margin-top: 0;
    text-align: right;
    flex: 1;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom p {
        text-align: center;
        margin-top: 10px;
    }

    .social-icons {
        justify-content: center;
    }
}

/* Estilos para a barra vermelha */
.container {
    margin: 20px 0; 
    position: relative; 
    text-align: left;
}

.red-bar {
    width: 9px; /* Largura da barra */
    height: 100%; /* Altura da barra ajustável */
    background-color: #fd0303; /* Cor da barra */
    position: absolute; /* Faz a barra se posicionar de forma independente */
    left: 0; /* Alinha a barra à esquerda do container */
    top: 0; /* Alinha a barra ao topo */
}

.text-content {
    padding-left: 4px; /* Espaço entre a barra e o texto */
    font-size: 1.2rem; /* Tamanho do texto */
    line-height: 1; /* Altura da linha para o espaçamento adequado */
    display: inline-block; /* Garante que o texto ocupe o espaço necessário */
    text-align: left;
}

/* Responsividade */
@media (max-width: 768px) {
    .text-content {
        font-size: 1rem;
    }

    div a img {
        width: 25%;
    }

    .container-grafico-tabela {
        flex-direction: column; /* Alinha os itens verticalmente em telas menores */
    }

    .table-style-periodo, .table-style-rent {
        width: 100%; /* Faz com que a tabela ocupe 100% da largura disponível */
        max-width: none; /* Remove o limite máximo de largura */
    }

    .table-style {
        margin-left: 0; /* Remove a margem à esquerda para alinhar corretamente */
    }
}

.container-grafico-tabela {
    display: flex;
    justify-content: center; /* Centraliza o gráfico e a tabela */
    align-items: center; /* Alinha verticalmente ao centro */
    gap: 40px; /* Espaçamento controlado entre o gráfico e a tabela */
}

.grafico {
    flex: 1;
}