* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --bg-red-1: #fd0303;
}

div.container {
    margin-left: 0;
}

nav#menu {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 1000;
}

#menu-nav {
    gap: 2em;
}

#logo-ifood {
    width: 15vw;
}

.btn-contato {
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--bg-red-1);
    color: white;
    white-space: nowrap;
}

section {
    padding-top: 6em;
}

#header-home {
    font-size: 3.5em;
    font-weight: 800;
}

#header-home2 {
    font-size: 2.5em;
    font-weight: 800;
}

#paragrafo-home {
    font-size: 1.2em;
    max-width: 80%;
    border-left: 8px solid var(--bg-red-1);
    padding: 10px;
}

.titulo-filtro {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 2em;
    border-bottom: 15px solid var(--bg-red-1);
    border-radius: 20px;
}

#filtrarperiodo, #filtrarcategoria, #rentabilidade {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

#container-categoria {
    display: flex;
    gap: 3em;
}

.container-rent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

#logo-footer {
    max-width: 12vw;
}

#chart {
    max-width: 30vw;
}

#table {
    max-width: fit-content;
    border: #fd0303;
}

.border-table {
    border: 1px solid var(--bg-red-1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2em;
}

tr {
    font-size: 1.2em;
    font-weight: 600;
}

.image-right, .image-left {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.combo-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.footer-container {
    margin-top: 8em;
    margin-bottom: 3em;
    display: flex;
    gap: 5em;
    align-items: flex-start;
    justify-content: center;
}

.footer-section-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-footer {
    margin-bottom: 1.5em;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-menu li a, #useful-links li a, li {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

#main-menu li a:hover, #useful-links li a:hover {
    font-weight: bold;
}

.container div button {
    margin-right: 20px;
}

div.footer-bottom i{
    color: #fd0303;
    padding: 0.4em;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #logo-ifood {
        width: 30vw;
    }

    #menu-nav {
        gap: 1em;
    }

    .btn-contato {
        font-size: 0.9em;
        padding: 5px 10px;
    }

    #header-home {
        font-size: 2.5em;
    }

    #header-home2 {
        font-size: 2em;
    }

    #paragrafo-home {
        font-size: 1em;
        max-width: 100%;
    }

    #container-categoria, .container-rent, .footer-container {
        flex-direction: column;
        gap: 2em;
    }

    #filtrarperiodo, #filtrarcategoria, #rentabilidade {
        margin-top: 0em;
    }
    

    #logo-footer {
        max-width: 20vw;
    }

    #chart {
        max-width: 100%;
    }

    .titulo-filtro {
        font-size: 2em;
    }
}
